@import url(./_name/footer__icon_name_facebook.css);
@import url(./_name/footer__icon_name_vk.css);
@import url(./_name/footer__icon_name_instagram.css);

.footer__icon::before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}
